@import "../../index.scss";

.app {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;


    &__heading {
        margin-bottom: 2rem;
        column-gap: 0.75rem;


        img {
            width: 4rem;
            display: block;
            margin: auto;
        }

        h1 {
            font-weight: 600;
        }
    }
}