@import "../../index.scss";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .username {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: white;
        margin-bottom: 2rem;
        width: 60%;

        >p {
            font-weight: 600;
            font-size: 1.1rem;
        }

        .high-score {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            >p {
                margin: 0;
                font-size: 0.8rem;
                margin-bottom: 0.25rem;
            }

            span {
                display: block;
                font-weight: 600;
                font-size: 1.1rem;
            }

        }

    }
}