@import "../../index.scss";

.square {
    background: #fff;
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
}

.square:focus {
    outline: none;
}