@import "../../index.scss";

.square {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}

.square:focus {
    outline: none;
}