// Variables
$light-grey: #eeeded;
$medium-grey: #aaaaaa;

// General

body,
html {
    min-width: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Quicksand" !important;
    margin: 0;
    padding: 0;
}