// Variables
$font: "Quicksand";
$light-grey: #eeeded;
$medium-grey: #333333;
$blue-gradient: linear-gradient(120deg, #4ca9df, #292E91);
$red-gradient: linear-gradient(120deg, #e21c34, #500b28);

body,
html {
    min-width: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: $font !important;
    margin: 0;
    padding: 0;
}

button {
    padding: 0.5rem 1rem;
    font-family: $font;
    font-size: 0.9rem;
    border: 0;
    background-color: $light-grey;
    border-radius: 0.5rem;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    outline: none;

    &.button--blue {
        background: $blue-gradient;
        color: white;
    }

    &.button--red {
        background: $red-gradient;
        color: white;
    }
}

.container {
    display: flex;
    width: 100%;

    &__options {
        justify-content: center;
        column-gap: 1rem;
    }

    &__column {
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }


}

input {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid $medium-grey;
    outline: none;
}